.ActorsList {
  display: grid;
  max-width: calc(100vw);
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 16px;
  margin: 15px auto;
  padding: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}

.ListItem {
  width: 150px;
  justify-self: center;
}

.ActorImage {
  width: 150px;
}

.ActorName {
  font-weight: 700;
  margin: 5px auto;
  font-size: 15px;
}

.Character {
  font-size: 14px;
  line-height: 1.4;
  margin: 5px auto;
}

.Content {
  border-bottom: 1px solid #3f51b546;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  padding: 5px;
}
